%% 错误日志配置
%%1).输出到控制台或者单个文件sasl_error_logger 、errlog_type，这组配置对sasl_report_tty_h、sasl_report_file_h这两个日志处理器有效
%%sasl_error_logger false|tty|{file,File}|{file, FileName, Modes}  默认tty
%%errlog_type error|progress|all， 默认all
%%2).输出到循环日志文件
%%error_logger_mf_dir 日志目录
%%error_logger_mf_maxbytes 日志文件大小
%%error_logger_mf_maxfiles 日志文件个数
%%上面两组配置是互相独立的，启动erlang时可以指定配置文件
[{sasl,
    [
        {sasl_error_logger, false},
        {errlog_type, error},
        {error_logger_mf_dir,"./var/log"},              %% 日志目录
        {error_logger_mf_maxbytes,10485760},            %% 日志文件最大10M.
        {error_logger_mf_maxfiles, 10}                  %% 文件循环数量最多10个
    ]
}].


